.filter-card.compact .form-label { margin-bottom: .125rem; font-weight: 600; }
.filter-card.compact .form-select-sm { padding-top: .25rem; padding-bottom: .25rem; }
.filter-card.compact .form-check-input { transform: scale(.9); }

.form-check-input-sm {
  width: 2rem;
  height: 1rem;
}
