<div class="card kpi-card h-100">
  <div class="card-body d-flex align-items-center p-3">
    <!-- Icon -->
    <div
      class="icon-wrapper rounded-4 d-flex align-items-center justify-content-center me-3"
      [ngStyle]="{ 'background-color': bgColor }"
    >
      <img
        [attr.src]="icon"
        [alt]="title"
        width="30"
        height="30"
        (error)="onIconError($event)"
      />
    </div>

    <!-- Text -->
    <div class="flex-fill">
      <h6 class="kpi-title text-muted mb-1">{{ title }}</h6>
      <div class="d-flex align-items-baseline">
        <div>
          <h4
            class="kpi-value fw-bold mb-0 d-inline text-dark"
            [ngClass]="{ shrink: ('' + value).length > 12 }"
          >
            {{ value }}
          </h4>

          <small class="text-muted ms-1">{{ unit }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
